/*
Mobile Devices:0-600px.
Tablet Potrait Devices:600-900px.
Tablet Landscape Devices:900-1200px.
Desktop Devices:1200-1800px.
Large Desktop Devies:1800p-infpx.
*/
/*
breakpoint args choices
phone
tab-port
tab-land
desktop
*/
*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 56.5%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 30%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "lago", sans-serif;
  font-size: 1.6rem;
  color: #777;
  line-height: 1.7;
  font-weight: 400;
  box-sizing: border-box;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  80% {
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveFromBottomButton {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3rem;
  animation-name: moveFromTop;
  animation-duration: 2s;
}

@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1.5rem;
  }
}

.heading-primary--sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 1rem;
  animation-name: moveFromBottom;
  animation-duration: 2s;
  margin-bottom: 1.6rem;
}

@media (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
    font-size: 2rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 100;
  z-index: 11;
  text-transform: capitalize;
  display: inline-block;
  background-image: linear-gradient(to right, #f7b733, #fc4a1a);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

.heading-secondary:hover {
  background-image: -moz-linear-gradient(to left, #f7b733, #fc4a1a);
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.learn-more {
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
}

.learn-more:visited, .learn-more:link {
  color: #fc4a1a;
}

.learn-more:hover {
  color: white;
  background-color: #f0cb35;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-huge {
  margin-bottom: 8rem;
}

.u-label {
  display: inline;
  color: white;
  font-weight: 100;
  text-transform: capitalize;
  font-family: "Roboto", "sans-serif";
  letter-spacing: 0.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}

.u-label__default {
  background-color: #777;
}

.u-label__info {
  background-color: #185a9d;
}

.u-label__warning {
  background-color: #eccb39;
}

.u-label__danger {
  background-color: #eb1f1f;
}

.u-label__success {
  background-color: #4dc72e;
}

.btn:visited, .btn:link {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.3rem;
  display: inline-block;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 4, 7, 0.205);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

.btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 4, 7, 0.205);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--features {
  background-color: #f0cb35;
  color: white;
  padding: 2rem;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 100;
  letter-spacing: 0.25rem;
  font-size: 2rem;
  border-radius: 3rem;
  transition: all 0.2s;
}

.btn--features:hover {
  transform: translateY(-0.2rem);
  background-color: white;
  color: #f0cb35;
  box-shadow: 0 1rem 2rem rgba(0, 4, 7, 0.205);
}

.btn--features:hover::after {
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

.btn--intro {
  background-color: white;
  color: #777;
  padding: 2rem;
  border-radius: 3rem;
  transition: all 0.2;
  animation: moveFromBottomButton 0.5s 2s;
  animation-fill-mode: backwards;
}

.btn--intro::after {
  background-color: #fff;
}

.btn--submit {
  height: 5rem;
  width: 15rem;
  border: none;
  color: white;
  font-size: 1.8rem;
  background-color: #f0cb35;
  transition: all 0.3s;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
}

.btn--submit:hover {
  color: #f0cb35;
  background-color: white;
  transform: translateY(-1rem);
}

.btn--submit:active {
  transform: translateY(0.1rem);
}

.composition {
  position: absolute;
}

.composition__photo {
  width: 49.5%;
  box-shadow: 0 0.1rem 0.8rem black;
  border-radius: 0.2rem;
  position: relative;
}

.composition__photo--p1 {
  left: 2rem;
  top: -5rem;
  border: transparent solid 1px;
  transition: 0.2s;
}

.composition__photo--p2 {
  right: 2rem;
  top: 4rem;
  transition: 0.2s;
}

.composition__photo--p3 {
  left: 7rem;
  top: -7rem;
  transition: 0.2s;
}

.composition__photo:hover {
  transform: scale(1.1);
  outline: #f7b733 solid 1rem;
  outline-offset: 2rem;
  box-shadow: 0 0.1rem 1rem black;
  z-index: 11;
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  margin-top: 7rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #f0cb35, #c02425);
  -webkit-background-clip: text;
  color: transparent;
}

.feature-box__paragraph {
  font-weight: 100;
}

.feature-box:hover {
  transform: translateY(-1.5rem);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  border-radius: 0.22rem;
  padding: 1rem;
  overflow: hidden;
  height: 52rem;
}

.card__side {
  height: 52rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 100%;
  width: 100%;
  border-radius: 3px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: white;
}

.card__side--back {
  transform: rotateY(180deg);
  color: white;
  font-family: "Roboto", "sans-serif";
  text-align: center;
  padding-top: 15rem;
}

.card__side--back--1 {
  background-image: linear-gradient(to right bottom, #43cea2, #185a9d);
}

.card__side--back--2 {
  background-image: linear-gradient(to right bottom, #dce35b, #45b649);
}

.card__side--back--3 {
  background-image: linear-gradient(to right bottom, #ad5389, #3c1053);
}

.card__side--back--price {
  font-size: 5rem;
  margin-bottom: 5rem;
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__picture {
  height: 23rem;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.card__picture--1 {
  max-width: 100%;
  background-image: linear-gradient(to right bottom, rgba(67, 206, 162, 0.6), rgba(24, 90, 157, 0.7)), url("../img/nat-6.jpg");
}

.card__picture--2 {
  background-image: linear-gradient(to right bottom, rgba(220, 227, 91, 0.6), rgba(69, 182, 73, 0.7)), url("../img/nat-7.jpg");
}

.card__picture--3 {
  background-image: linear-gradient(to right bottom, rgba(173, 83, 137, 0.6), rgba(60, 16, 83, 0.7)), url("../img/nat-5.jpg");
}

.card__heading {
  font-family: "Roboto", "sans-serif";
  letter-spacing: 0.2rem;
  font-weight: 100;
  font-size: 2.8rem;
  color: white;
  text-align: right;
  text-transform: capitalize;
  height: 5rem;
}

.card__heading__primary--1 {
  padding: 0.5rem;
  position: absolute;
  top: 12rem;
  left: 0rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right bottom, rgba(67, 206, 162, 0.6), rgba(24, 90, 157, 0.7));
}

.card__heading__secondary--1 {
  padding: 0.5rem;
  position: absolute;
  top: 17.5rem;
  left: 0rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right bottom, rgba(67, 206, 162, 0.6), rgba(24, 90, 157, 0.7));
}

.card__heading__primary--2 {
  padding: 0.5rem;
  position: absolute;
  top: 12rem;
  left: 0rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right bottom, rgba(220, 227, 91, 0.6), rgba(69, 182, 73, 0.7));
}

.card__heading__secondary--2 {
  padding: 0.5rem;
  position: absolute;
  top: 17.5rem;
  left: 0rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right bottom, rgba(220, 227, 91, 0.6), rgba(69, 182, 73, 0.7));
}

.card__heading__primary--3 {
  padding: 0.5rem;
  position: absolute;
  top: 12rem;
  left: 0rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right bottom, rgba(173, 83, 137, 0.6), rgba(60, 16, 83, 0.7));
}

.card__heading__secondary--3 {
  padding: 0.5rem;
  position: absolute;
  top: 17.5rem;
  left: 0rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right bottom, rgba(173, 83, 137, 0.6), rgba(60, 16, 83, 0.7));
}

.card__description {
  text-align: center;
  text-decoration: none;
  font-weight: 100;
}

.card__description__list-item {
  position: relative;
  left: 15%;
  width: 70%;
  text-transform: capitalize;
  display: block;
}

.card__description__list-item:not(:last-child) {
  border-bottom: #afaeae 0.05rem solid;
  margin-bottom: 1rem;
}

.story {
  height: 100%;
  width: 75%;
  padding: 5rem;
  padding-left: 9rem;
  transform: skew(7deg);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.3rem;
  margin: 0 25rem 2rem 15rem;
}

.story__figure {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  background-color: white;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skew(-7deg);
}

.story__text {
  transform: skew(-7deg);
}

.story__person-image {
  height: 100%;
  transform: scale(1.1) translateX(-5rem);
  backface-visibility: hidden;
  transition: all 0.7s;
}

.story__caption {
  font-size: 1.7rem;
  font-weight: 100;
  text-align: center;
  display: inline-block;
  text-transform: capitalize;
  color: white;
  position: absolute;
  top: 30%;
  left: 5%;
  opacity: 0;
  transition: all 0.5s;
}

.story:hover .story__caption {
  opacity: 1;
  transform: translateY(-10%);
}

.story:hover .story__person-image {
  transform: translateX(-5rem);
  filter: blur(0.3rem) brightness(80%);
}

.form {
  padding: 0;
  font-size: 10rem;
  max-width: 60%;
  height: 100%;
}

.form__input {
  display: block;
  font-family: "Avenir" "sans-serif";
  font-size: 1.7rem;
  color: black;
  height: 5rem;
  width: 59%;
  border: none;
  padding: 1rem 10rem 01rem 2rem;
  transition: 0.2s;
}

.form__input:focus {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-bottom: #4dc72e 0.2rem solid;
  visibility: visible;
}

.form__input::-moz-placeholder {
  color: #999;
}

.form__input::-webkit-placeholder {
  color: #999;
}

.form__input:focus:invalid {
  border-bottom: #c02425 0.2rem solid;
}

.form__input::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}

.form__label {
  padding-left: 2rem;
  font-size: 1.5rem;
  display: block;
  transition: 0.5s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form__button {
  text-align: center;
  width: 50%;
}

.form__group {
  margin: -7rem 0 -7rem 0;
}

.form__radio-group {
  margin: -6rem 0 -9rem 0;
  display: inline;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.form__radio-label {
  position: relative;
  cursor: pointer;
  padding-left: 4rem;
}

.form__radio-input {
  visibility: hidden;
}

.form__radio-button {
  border: #f0cb35 0.5rem solid;
  border-radius: 50%;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: -0.5rem;
  left: 0;
}

.form__radio-button::after {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  border-radius: 50%;
  display: block;
  background-color: #f0cb35;
  opacity: 0;
  transition: all 0.2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  overflow: hidden;
  z-index: -1;
}

.bg-video__content {
  height: 100rem;
  width: 100%;
  object-fit: cover;
}

.section-about {
  background-color: #313131;
  color: white;
  height: 100%;
  z-index: 1;
  margin-top: -25vh;
  padding: 25rem 0;
  clip-path: polygon(0 -30rem, 100% 0, 100% 100%, 0 80%);
}

.section-features {
  padding: 20rem 0;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(240, 203, 53, 0.7), rgba(192, 36, 37, 0.8)), url(../img/nat-4.jpg);
  transform: skewY(9deg);
  margin-top: -12rem;
}

.section-features > * {
  transform: skewY(-9deg);
}

.section-tour {
  padding: 25rem 10rem 15rem 10rem;
  width: 100%;
  height: 100%;
  background-color: #d4d3d3;
  margin-top: -10.2rem;
}

.section-tour__button-box {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section-review {
  padding: 20rem 10rem 0rem 10rem;
  margin-bottom: 10rem;
  width: 100%;
  position: relative;
  background-color: transparent;
  text-align: center;
  height: 100%;
  margin-top: -10.2rem;
}

.section-review__heading {
  font-weight: 700;
}

.section-enroll {
  background-image: linear-gradient(to right bottom, #f0cb35, #c02425);
  padding: 25rem 5rem 10rem 5rem;
}

.section-enroll__card {
  padding-top: 5rem;
  padding-left: 5rem;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 51%, transparent 51%), url("/public/img/nat-10.jpg");
  width: 100%;
  height: 52rem;
  background-repeat: no-repeat;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

.header {
  height: 100vh;
  z-index: 2;
  background-image: linear-gradient(to right bottom, rgba(240, 203, 53, 0.7), rgba(192, 36, 37, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__bike-icon {
  display: block;
  text-align-last: center;
  animation: moveInLeft 2s ease-out;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  width: 100%;
  display: block;
  margin: 0 auto;
  content: "";
  clear: both;
  display: table;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row [class^="col-"] {
  overflow: auto;
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}
/*# sourceMappingURL=main.css.map */